body {background-color: #bddb39}
header  {
  background-color: #f2cdac;
  text-align: center;
  font-size: 120%;
  color: #4c4a59;
}
 header  {
  background-color: #1b7f7a;
  padding: 5%;
  text-align: center;
  color: white;}

  main {
  background-color: #a5db82
  
  }